<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HookSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HookSystem.Properties.Settings>
            <setting name="cload" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="banned" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="intercom" serializeAs="String">
                <value>False</value>
            </setting>
        </HookSystem.Properties.Settings>
    </userSettings>
</configuration>